* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
	font: 13px Helvetica, Arial; 
	background-color: #104759;
	
}

#message_window{
	align="center";
	margin:0 auto; 
	width: 80%;
	height: auto;
	bottom: 15%;
}

form { 
	background-color: #eee; 
	padding: 5px; 
	border-radius: 5px;
	position: fixed; 
	bottom: 3%; 
	width: 80%; }

form input { 
	border: 0; 
	padding: 10px; 
	width: 80%; 
	margin-right: .5%; 
}

form button { 
	width: 18%; 
	background-color: #20639E; 
	border: none; 
	padding: 10px; 
	text-overflow: ellipsis;
	font: 15px Helvetica, Arial;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow:auto; 
	overflow-y:scroll;
	position: absolute;
	width: 80%;
	height: 75%;
}

#messages li { 
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px; ;
	padding-left: 10px; 
	bottom: 0;
	overflow: hidden;
	font-family: 'Century Gothic', sans-serif;

}

.msg_content{
	padding-top: 10px; 
	position: relative;
	clear: both;
}

.msg_username{
	position: relative;
	float: left;
	font-size: 150%;
}

.timestamp{
	position: relative;
	float: right;
}

#messages li:nth-child(odd) {  
	background: #CCDBE0; 
}

#messages li:nth-child(even) { 
	background: #eee; 
}

.button {
  float: right;
  padding-right: 10%;
  display: inline-block;
  border-radius: 4px;
  background-color: #20639E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.top_bar{
	margin: auto;
	width: 100%;
	overflow:auto; 
	padding-right: 10%;
	padding-top: 0;
	padding-left: 10%;
}

.usernameinfo{
	font: 40px Helvetica, Arial; 
	color: #FFFFFF;
	float: left;
	padding-top: 2%;
	/*padding-left: 10%;*/
}

#sendmsg{
	clear: both;
	padding-left: 10%;
}
